
/*font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* josh comeau's coool css reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


body {
    font-family: 'Work Sans', Helvetica, sans-serif;
    font-weight: 500;
    display: grid;
    grid-template-columns: 25% 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
        background-color: #ebebeb;


}

h1 {
    font-size: 2rem;
    font-family: 'Work Sans', Helvetica, monospace;
    font-weight: 800;
    font-style: oblique;
    text-transform: uppercase;
}
h2{
    font-family: 'Work Sans', Helvetica, monospace;
    font-weight: 500;
    font-style: oblique;
    color: #222;
}

h3{
    font-family: 'Space Mono', Helvetica, monospace;
    font-size: 1.24em;
    color: #4d8296;
    font-weight: 600;

}

.project > h3{
    text-transform: uppercase;
    font-size: 1.5em;
    color: #4d8rgb(69, 118, 136)


}
.header {
    grid-row: 1 / 2;
    grid-column: 2 / 5;
    background-color: #fafafa;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 12em;
    grid-template-areas: 
    "top-header-row" "top-header-row"
    "greeting" "greeting";
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
}

.avatar{
    max-width: 80%;
    height: auto;
}
.top-header-row {
    grid-template-areas: "top-header-row";
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-rows: 1fr;

    grid-template-areas: 
    "search" "user-info";
}

.greeting {
    grid-template-areas: "greeting";
    display: grid;
    grid-column: 1 / span 4;
   
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;    
    grid-template-areas: 
    "user-greeting" "buttons";
}
.search-container {
    display: inline-flex;
    grid-template-areas: "search";
    align-items: center;
    justify-content: center;
    margin-left: 1em;
    gap: 1rem;
}

.small-user-info{
    grid-template-areas: "user-info";

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2em;
    justify-content: center;
    align-items: center;
}
.small-user-info > .avatar-box {
  width: 45px;
  height: 45px;
}

.user-greeting{
    grid-template-areas: "user-greeting";
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2rem;
    gap: 2rem;
  
}
.btns{
    grid-template-areas: "buttons";
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: content;
    justify-content: center;
    
    align-content: center;
    
}



.sidebar {
    background-color: rgb(74, 131, 151);
    grid-area: 1 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
   
}

#mobile-sidebar {
    background-color: rgb(74, 131, 151);
    grid-area: 1 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}


nav {
    padding: 1.5rem 2rem;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    padding-top: 1em;
    line-height: 2.5em;

}

.nav-toggle-label {
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 2;    
    display:none;
}

.w3-button {
    display: none;
}

#logo{
    display:grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

@media screen and (max-width: 868px) {
    .w3-button {
        display: block;
    }  
    .nav-desktop {
            display: none;
        }

    #mobile-sidebar {
        display: block;
        width: 25vw;
    }
    .nav-mobile{
     font-size:small;  
   
    }
  
    #logo {
        display: none;
    }




}





.action-btn{
    color: white;
    background-color: rgb(74, 131, 151);
    border-radius: 1em;
    width: 8rem;
    height: 2rem;
    font-weight: 700;
    text-align: center;
    align-content:center;
}


@media screen and (max-width: 768px) {

    h1 {
        font-size: 1rem;
    }
    ul {
  
    margin-left: -1.5rem;
    
}
}

ul {
    list-style-type: none;
    margin-left:-2.6rem;
    
}

main {
    grid-area: 2 / 2 / 3 / 5;
    display: grid;
    grid-template-columns: 70% 1fr;
    gap: 1rem;
    margin: 1rem;
    
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

.project { 
    border: solid 1px greenyellow;
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 2%;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 1em;
    padding: 1em;
    overflow:auto;
   

}

.project > p {
     font-size: 0.85em;
}
.socials {
   display: grid;
   grid-template-columns: auto auto auto;
   gap: 1em;
    justify-content: flex-end;
}
.sub-side {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 1em;
    
    padding-top: 0.5em;
        
}

.announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    background-color: #fff;
    border-radius: 2%;
    justify-content: center;
    padding: 1em;
}


.announcement {
    border-bottom: solid 1px plum;
    padding: 0.1em;
    margin: 4px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.announcement > h3{
    font-size: 1.15em;
    color: rgb(132, 80, 132); /* rgb(156, 117, 156); */
    font-weight: 700;
}

 .announcement > p{
    font-size: 0.85em;
    color: #383838;
    padding-bottom: 1em;
    
   
}

.avatar-box {
    width: 45px;
    height: 45px;
    background-color: #ebebeb;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.trending {
    border-radius: 2%;
    background-color: white;
    padding: 1em;
    height:fit-content;
    
  

}

.trend {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2em;
    justify-content: center;
    width: 75%;
    align-items: center;
    margin: auto;
    margin: 1em auto;

    
}

.trend-info {
font-size: small;
color: #333333;
}

@media (max-width: 768px){
    body,
    main
        {
        grid-template-columns: 1fr;
        }
  
    .header, 
    .top-header-row
        {
        grid-template-columns: repeat(auto-fill, 1fr);
        grid-template-rows: 1fr;
        gap:1em;
        align-items: center;
        justify-content: center;
        
       
    /* grid-template-columns: repeat(auto-fill, minmax(20px, 1fr)); */

     }
      .user-greeting {
        display: none;
      }
       .search-bar {
        display: none;
    }
    .search-container {
        align-items: right;
        border: solid 1px #333333;
        border-radius: 1em;
        padding: 2px;
        justify-content: right;   }
      
    .greeting {
        grid-template-columns: repeat(auto-fill, minmax(80px,1fr));
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }      
       .small-user-info {
            grid-template-columns: repeat(auto-fill, 1fr);
       }

      .btns{
       margin: 0 auto;
       gap: 1em;
        
       
      }
        .projects {
            grid-template-columns: 1fr;
        }
}
