
/* josh comeau's coool css reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/*font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Inter', Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 25% 1fr 1fr 1fr;
    grid-template-rows: (4, 1fr);

}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 5;
    background-color: slategrey;
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 1fr;
    height: 12em;
    
}

.search-container {
    
    border: solid 1px red;
    display: inline-flex;
}

.small-user-info {
    
}

.sidebar {
    background-color: steelblue;
    grid-area: 1 / 1 / 4 / 2;
}

ul {
    list-style-type: none;
    
}

main {
    grid-area: 2 / 2 / 3 / 5;
    display: grid;
    grid-template-columns: 75% 1fr;
    background-color: #ebebeb;
  
    
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: repeat(3, 1fr);
    gap: 1em;
}

.project { 
    border: solid 1px greenyellow;
    background-color: #fff;
    width: 100%;
}

.sub-side {
    margin: 10px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 0.5em;
    
}

.announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    background-color: #fff;
    border-radius: 2%;
    justify-content: center;
    padding: 1em;
}


.announcement {
    border-bottom: solid 1px plum;
    padding: 0.1em;
    margin: 4px;
    height: 150px;
    text-align: left;

}
.announcement > h3{
    font-size: 1.15em;
    color: rgb(156, 117, 156);
     font-weight: 700;
}

 .announcement > p{
    font-size: 0.85em;
    color: #595959;
   
}

.trending {
    border-radius: 2%;
    background-color: white;}